@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-geist-mono);

  --color-accent: #3b82f6;
  --color-accent-dark: #2563eb;
  --color-blue: #60a5fa;
  --background: #000000;

  --duration-800: 800ms;
  --duration-6500: 6500ms;
}

body {
  font-family: var(--font-space-grotesk), sans-serif;
}
